body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

@font-face {
    font-family: 'bebas';
    src: url('https://fonts.google.com/share?selection.family=Bebas+Neue');
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2,
p {
    color: #d6d6d6;
}

a {
    text-decoration: none;
}

a:hover {
    color: aqua;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.form-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

.main-content {
    padding: 20px;
    margin-top: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
    background-color: #000000;
}

#menu {
    border-radius: 3px;
    margin: 0px;
    padding: 10px;
    list-style-type: none;
    text-transform: uppercase;
    background-color: black;
    align-items: center;
    border: 10px;
    text-align: center;
}

#menu ul li {
    margin: 0 4%;
    display: inline-block;
    padding: 2%;
}

#menu ul li>a {
    font-size: larger;
    font-family: bebas;
    text-decoration: none;
    color: aliceblue;
    padding: 7%;
    white-space: nowrap;
}

#menu ul li>a:hover {
    cursor: pointer;
    color: #a70f0f;

}

/* Estilo do texto */
.texto {
    font-size: 24px;
    color: #ffffff;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: digit 5s steps(40, end);
}

/* Cursor piscando */
.texto::after {
    content: '|';
    animation: flashing 1s infinite;
}

/* Animação de digitação */
@keyframes digit {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

/* Animação do cursor */
@keyframes flashing {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.header {
    align-items: start;
    text-align: center;
}

.header>.linux-img {
    width: 10%;
    float: left;
}

.distro-img {
    width: 100%;
}

/*carrossel Ubuntu*/

* {
    box-sizing: border-box;
}


.carousel {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 100%;
    height: 200px;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.carousel input[name="slide-selector"]:checked~.slides .slide {
    opacity: 0;
  
}

.carousel input[name="slide-selector"]:nth-of-type(1):checked~.slides .slide:nth-of-type(1),
.carousel input[name="slide-selector"]:nth-of-type(2):checked~.slides .slide:nth-of-type(2),
.carousel input[name="slide-selector"]:nth-of-type(3):checked~.slides .slide:nth-of-type(3) {
    opacity: 1;
}


.carousel input[name="slide-selector"] {
    display: none;
   
}

.carousel label {
    cursor: pointer;
    border: 2px solid #333;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel label:hover {
    cursor: pointer;
    color: #a70f0f;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel input[name="slide-selector"]:checked+label {
    background-color: #333;
    color: #fff;
}


.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    grid: 100%;
    opacity: 0;
    z-index: 1;
}

.prev,
.next {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

.prev:hover,
.next:hover {
    background-color: #555;
}

/* Carrossel garuda */


.carousel-garuda {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides-garuda {
    width: 100%;
    height: 200px;
    position: relative;
}

.slide-garuda {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.slide-garuda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.carousel-garuda input[name="slide-selector-garuda"]:checked~.slides-garuda .slide-garuda {
    opacity: 0;
}

.carousel-garuda input[name="slide-selector-garuda"]:nth-of-type(1):checked~.slides-garuda .slide-garuda:nth-of-type(1),
.carousel-garuda input[name="slide-selector-garuda"]:nth-of-type(2):checked~.slides-garuda .slide-garuda:nth-of-type(2),
.carousel-garuda input[name="slide-selector-garuda"]:nth-of-type(3):checked~.slides-garuda .slide-garuda:nth-of-type(3) {
    opacity: 1;
}

.carousel-garuda input[name="slide-selector-garuda"] {
    display: none;
    
}

.carousel-garuda label {
    cursor: pointer;
    border: 2px solid #333;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel-garuda label:hover {
    cursor: pointer;
    color: #a70f0f;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel-garuda input[name="slide-selector-garuda"]:checked+label {
    background-color: #333;
    color: #fff;
}


.controls-garuda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    grid: 100%;
    opacity: 0;
    z-index: 1;
}

.prev-garuda,
.next-garuda {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

.prev-garuda:hover,
.next-garuda:hover {
    background-color: #555;
}




.carousel-parrot {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides-parrot {
    width: 100%;
    height: 200px;
    position: relative;
}

.slide-parrot {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.slide-parrot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.carousel-parrot input[name="slide-selector-parrot"]:checked~.slides-parrot .slide-parrot {
    opacity: 0;

}

.carousel-parrot input[name="slide-selector-parrot"]:nth-of-type(1):checked~.slides-parrot .slide-parrot:nth-of-type(1),
.carousel-parrot input[name="slide-selector-parrot"]:nth-of-type(2):checked~.slides-parrot .slide-parrot:nth-of-type(2),
.carousel-parrot input[name="slide-selector-parrot"]:nth-of-type(3):checked~.slides-parrot .slide-parrot:nth-of-type(3) {
    opacity: 1;

}


.carousel-parrot input[name="slide-selector-parrot"] {
    display: none;

}

.carousel-parrot label {
    cursor: pointer;
    border: 2px solid #333;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel-parrot label:hover {
    cursor: pointer;
    color: #a70f0f;
    padding: 5px;
    margin-right: 5px;
    display: inline-block;
}

.carousel-parrot input[name="slide-selector-parrot"]:checked+label {
    background-color: #333;
    color: #fff;
}


.controls-parrot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    grid: 100%;
    opacity: 0;
    z-index: 1;
}

.prev-parrot,
.next-parrot {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

.prev-parrot:hover,
.next-parrot:hover {
    background-color: #555;
}